@import 'flex-layout-attribute/css/flex-layout-attribute.min.css';

* {
  border: 0;
  //border: 2px solid red;
  margin: 0;
  background: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;


}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", STHeiti, "Microsoft YaHei", SimSun, sans-serif;
}

.full-screen {
  width: 100%;
  height: 100vh;
}

.full {
  width: 100%;
  height: 100%;
}

.shadow {
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.radius {
  border-radius: 5px;
}

.grey-bg {
  background-color: rgba(127, 127, 127, .12);

  &::before {
    content: ' ';
  }

  &::after {
    content: ' ';
  }
}

.code-bg {
  background-color: #ecf4fa;
  .radius();
  padding: 0 0 0 5px;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}


a {
  text-decoration: none;
  outline: none;
  color: #000;
}

//防止滚动条导致的抖动
html {
  overflow-y: overlay;
}

* {
  //word-break: break-all;
}

.font-color-grey {
  color: rgb(44, 62, 80);
}

h1 {
  font-size: 30px;
  font-weight: bold;
  .font-color-grey();
}

h2 {
  font-size: 28px;
  .font-color-grey();
}

h3 {
  font-size: 26px;
  .font-color-grey();
}

h4 {
  font-size: 24px;
  .font-color-grey();
}

h5 {
  font-size: 22px;
  .font-color-grey();
}

h6 {
  font-size: 20px;
  .font-color-grey();
}

p,
text,
li,
ul,
ol {
  font-size: 18px;
  .font-color-grey();
}

