@import 'flex-layout-attribute/css/flex-layout-attribute.min.css';

* {
  border: 0;
  //border: 2px solid red;
  margin: 0;
  background: transparent;

  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.full-screen {
  width: 100vw;
  height: 100vh;
}

a {
  text-decoration: none;
  outline: none;
  color: #000;
}

.inline-block {
  display: inline-block;
  vertical-align: middle;
}

//防止滚动条导致的抖动
html {
  overflow-y: overlay;
}

* {
  word-break: break-all;

}